<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding authors</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style1.css')}}">
</head>
<body>
    <h1 class="message">{{message}}</h1>
    <div class="form_container">
    <form class="data-form" action="/add_author" method="POST">
        <label for="author">Author's name</label>
            <input class="input-block" type="text" name="author" id="author">
        <label for="birth">Author's birth date</label>
            <input type="text" name="birth" id="birth">
        <label for="death">Author's death date</label>
            <input type="text" name="death" id="death">
        <input type="submit" value="Add author">
    </form>
    </div>
    <a href="/">Back to the library!</a>
</body>
</html>