<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Library!</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style1.css')}}">
</head>
<body>
    <h1 class="message">Welcome to the library!</h1>
    {% for book_name in books %}
        <a class="book-link" href="/{{book_name}}">{{book_name}}</a>
    {% endfor %}
        <form action="/" method="GET">
            <label for="search">Search</label>
            <input type="text" id="search" name="search">
            <input type="submit" Value="Search">
        </form>
    <hr>
    <a href="/add_author">Add an Author!</a>
    <hr>
    <a href="/add_book">Add a Book!</a>
</body>
</html>